@model IEnumerable<Eticaret.Dto.Kategori.KategoriMenuDto>

<ul>
    <li class="current"><a href="/"><div>Anasayfa</div><span>Anasayfa</span></a></li>
    @foreach (var item in Model)
    {
        <li class="mega-menu">
            <a href=@("/Urunler/" + item.Url)><div>@item.Adi</div><span>@item.Adi</span></a>

            @if (item.AltMenuler.Count > 0)
            {
                <div class="mega-menu-content style-2 clearfix">
                    <ul class="mega-menu-column col-md-3">
                        @foreach (var item2 in item.AltMenuler)
                        {
                            <li class="mega-menu-title">
                                <a href=@("/Urunler/" + item2.Url)><div>@item2.Adi</div></a>

                                @if (item2.AltMenuler.Count > 0)
                                {
                                    <ul>
                                        @foreach (var item3 in item2.AltMenuler)
                                        {
                                            <li><a href=@("/Urunler/" + item3.Url)><div>@item3.Adi</div></a></li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                </div>
            }
        </li>


    }
    <li><a href="/Iletisim"><div>İLETİŞİM</div><span>İletişim</span></a></li>
</ul>


