@model IEnumerable<Eticaret.Dto.Kategori.KategoriMenuDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("_Slider", "Home", new { UrunListeTipi = Eticaret.Entity.EnuUrunListeTipi.Indrimdekiler });}

<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            @*<div class="row">
                    <div class="col-lg-8">

                        <div class="row">
                            <div class="col-lg-6 norightpadding" style="margin-bottom: 15px;">
                                <a href="#"><img src="images/shop/banners/2.jpg" alt="Image"></a>
                            </div>

                            <div class="col-lg-6 norightpadding" style="margin-bottom: 15px;">
                                <a href="#"><img src="images/shop/banners/8.jpg" alt="Image"></a>
                            </div>

                            <div class="w-100"></div>

                            <div class="col-lg-12 norightpadding">
                                <a href="#"><img src="images/shop/banners/4.jpg" alt="Image"></a>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4">
                        <a href="#"><img src="images/shop/banners/9.jpg" alt="Image"></a>
                    </div>
                </div>*@

            <div class="clear"></div>

            <div class="tabs topmargin-lg clearfix" id="tab-3">

                <ul class="tab-nav clearfix">
                    <li><a href="#tabs-9">İndirimdekiler</a></li>
                    <li><a href="#tabs-10">Yeniler</a></li>
                    <li><a href="#tabs-11">Çok Satanlar</a></li>
                </ul>

                <div class="tab-container">
                    <div class="tab-content clearfix" id="tabs-9">
                        @{Html.RenderAction("_UrunListe", "Home", new { UrunListeTipi = Eticaret.Entity.EnuUrunListeTipi.Indrimdekiler });}
                    </div>

                    <div class="tab-content clearfix" id="tabs-10">
                        @{Html.RenderAction("_UrunListe", "Home", new { UrunListeTipi = Eticaret.Entity.EnuUrunListeTipi.Yeniler });}
                    </div>

                    <div class="tab-content clearfix" id="tabs-11">
                        @{Html.RenderAction("_UrunListe", "Home", new { UrunListeTipi = Eticaret.Entity.EnuUrunListeTipi.CokSatanlar });}
                    </div>

                </div>

            </div>

            <div class="clear bottommargin-sm"></div>

            @*<div class="fancy-title title-border title-center topmargin-sm">
                    <h4>Popüler Markalar</h4>
                </div>

                <ul class="clients-grid grid-6 nobottommargin clearfix">
                    <li><a href="#"><img src="images/clients/logo/1.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="images/clients/logo/2.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="images/clients/logo/3.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="images/clients/logo/4.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="images/clients/logo/5.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="images/clients/logo/6.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="images/clients/logo/7.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="images/clients/logo/8.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="images/clients/logo/9.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="images/clients/logo/10.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="images/clients/logo/11.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="images/clients/logo/12.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="images/clients/logo/13.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="images/clients/logo/14.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="images/clients/logo/15.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="images/clients/logo/16.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="images/clients/logo/19.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="images/clients/logo/18.png" alt="Clients"></a></li>
                </ul>*@

        </div>

        <div class="section nobottommargin">
            <div class="container clearfix">

                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-plain fbox-dark fbox-small">
                        <div class="fbox-icon">
                            <i class="icon-thumbs-up2"></i>
                        </div>
                        <h3>100% ORJİNAL</h3>
                        <p class="notopmargin">Orijinal Markaların satışını garanti ediyoruz.</p>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-plain fbox-dark fbox-small">
                        <div class="fbox-icon">
                            <i class="icon-credit-cards"></i>
                        </div>
                        <h3>Ödeme Seçenekleri</h3>
                        <p class="notopmargin">Kredi kartı ve kapıda ödeme seçeneğiniz mevcuttur.</p>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-plain fbox-dark fbox-small">
                        <div class="fbox-icon">
                            <i class="icon-truck2"></i>
                        </div>
                        <h3>Ücretsiz Kargo</h3>
                        <p class="notopmargin">1.000 TL üzeri siparişlerde Ücretsiz Teslimat.</p>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin col_last">
                    <div class="feature-box fbox-plain fbox-dark fbox-small">
                        <div class="fbox-icon">
                            <i class="icon-undo"></i>
                        </div>
                        <h3>30-GÜN DEĞİŞİM</h3>
                        <p class="notopmargin">
                            30 gün içinde satın alınan malları iade edin veya değiştirin.
                        </p>
                    </div>
                </div>
            </div>
        </div>



    </div>

</section>
